<footer class="custom-footer-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link {{ site.translations.privacy_page[page.lang] }} %}">{{ site.translations.privacy[page.lang] }}</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-light" href="{% link {{ site.translations.imprint_page[page.lang] }} %}">{{ site.translations.imprint[page.lang] }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
