.site-default,
.site-imprint,
.site-privacy {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  main,
  header {
    background-color: white;
  }
}

/** Customization and general page layout */

main article:first-of-type>.section:first-child {
  padding-top: var(--custom-navbar-height);
}

.section-content-wrapper {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
}

.section-1 .section-content-wrapper {
  padding-top: calc(max(20vmax, 378px));
  padding-bottom: 3vw;
  display: flex;
  position: relative;
}

.section-2 {
  min-height: 105lvh;
  padding-bottom: 1rem;
}

.section-2 h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.dark-section {
  color: white;
}

.custom-footer-dark {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #191b1f;
}

/** Sections **/

.section {
  position: relative;
}

.section-content {
  position: relative;
  z-index: 0;
}

/* About text */

.about-text {
  hyphens: auto;
  text-align: justify;
}

.about-text,
.about-nav-links {
  a {
    color: white;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #eee;
    }

    &:active {
      color: #ddd;
    }
  }
}

.section-2 .about-nav-links + div > h2:first-child {
  padding-top: 1.5rem;
}

.about-nav-links {
  margin-top: 1.75rem;
  color: #666;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: #e8e8e8;
    }

    &:active {
      color: #aaa;
    }
  }
}
