/** Footer styling **/

body,
footer,
html {
  background-color: #1f2227;
}

.copyright-hint {
  color: #bbbbbb;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}
