.navbar .language-switcher {
  line-height: calc(1.4 * var(--custom-navbar-font-size));
  font-size: calc(0.85 * min(var(--custom-navbar-font-size), 100vw / 340 * 20.08));
  transform: translateY(calc(-0.18 * var(--custom-navbar-font-size)));
  font-weight: 100;

  a {
    color: var(--bs-tertiary-color);
    text-decoration: none;
    font-weight: 400;

    @media (min-width: 780px) {
      font-weight: inherit;
    }

    &.active {
      color: var(--bs-body-color);
    }

    &,
    &.active {

      &:hover,
      &:focus {
        color: black;
      }

      &:active {
        color: var(--bs-secondary-color);
      }
    }
  }

  &.animated a {
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.25s linear;
    border-radius: 5px;
    line-height: 1.2em;
    padding-left: max(0.1em, 5px);
    padding-right: max(0.15em, 6px);
    margin-left: -1px;
    margin-right: -1px;

    &:first-child {
      /* Align start of text */
      margin-left: calc(-1 * max(0.1em, 5px));
    }

    &:last-child {
      margin-right: 0;
    }

    &,
    &.active {

      &:hover,
      &:focus {
        background-color: #ffffff66;
        box-shadow: 0px 0px 1px 0px #00000022;
        transition: background-color 0.2s linear;
      }
    }
  }
}
