{%- assign translate = site.data.translations -%}
<article>
  <div class="section section-1">
    <div class="section-border">
      <div class="section-background">
        <img alt="" src="{% link assets/img/BannerImage-Full.jpg %}" width="2500" height="1667" style="display:block;object-position: 83% 20%" fetchpriority="high" loading="eager" decoding="async">
      </div>
    </div>
    <div class="section-content-wrapper">
      <div class="section-content container-fluid row">
        <div class="hero-text col-md-6 col-lg-6 mb-3 mb-md-0">
          {{- left_hero_text | markdownify -}}
        </div>
        <div class="col-md-1 col-lg-1"></div>
        <div class="contact-form col-md-4 col-lg-4">
          <div class="contact-text">
            {{ right_hero_text | markdownify }}
          </div>
          <div class="contact-button-container">
            <a href="{{ site.encoded_mail }}" class="mai&#x006C;-link contact-button btn btn-warning">{{ contact_now_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if site.data.projects.projects-%}
    <div class="section dark-section section-2">
      <div class="section-content-wrapper">
        <div class="section-content container-fluid row justify-content-around" style="width: calc(100% + 1.5rem)">
          <div class="about-nav-links d-md-none">
            <a href="#about">{{ translate.about_me[page.lang] }}</a> | <a href="#socials">{{ translate.social_links[page.lang] }}</a> | <a href="#projects">{{ translate.projects_and_portfolio[page.lang]}}</a>
          </div>
          {%- if about_me_text -%}
            <div class="col-lg-7 col-md-9">
              <h2 id="about">{{ translate.about_me[page.lang] }}</h2>
              <div class="about-text">
                {{- about_me_text | markdownify -}}
              </div>
            </div>
            <div class="col-lg-1 d-none d-lg-block"></div>
            <div class="col-lg-4 col-md-3">
              {% if site.social %}
                <h2 id="socials">{{ translate.where_to_find_me[page.lang] }}</h2>
                <ul class="social-links">
                  {% if site.social.blog %}<li class="card mb-3"><a href="{{ site.social.blog }}" class="card-body" title="{{ translate.follow_my_blog[page.lang] }}"><i class="bi bi-rss-fill"></i>Blog</a></li>{% endif %}
                  {% if site.social.github %}<li class="card mb-3"><a href="{{ site.social.github }}" class="card-body" title="{{ translate.follow_on_github[page.lang] }}"><i class="bi bi-github"></i>GitHub</a></li>{% endif %}
                  {% if site.social.stackoverflow %}<li class="card mb-3"><a href="{{ site.social.stackoverflow }}" class="card-body" title="{{ translate.follow_on_stackoverflow[page.lang] }}"><i class="bi bi-stack-overflow"></i>StackOverflow</a></li>{% endif %}
                  <li class="card mb-3"><a href="#" class="card-body" title="Send me a mail"><i class="bi bi-at"></i>Mail</a></li>
                </ul>
              {% endif %}
              {% if site.data.blog_posts %}
                <h2 id="socials">{{ translate.latest_blog_posts[page.lang] }}</h2>
                <ul class="blog-posts">
                  {% assign recent_posts = site.data.blog_posts.rss.channel.item | slice: 0, 3 %}
                  {% for post in recent_posts %}
                    <li class="blog-post">
                      <a href="{{ post.url }}">
                        <span class="blog-post-title">{{ post.title }}</span>
                        <span class="blog-post-subtitle">
                          //
                          <span class="blog-post-date">
                            {{ post.pubDate | parse_date | date: translate.date_format[page.lang] }}
                          </span>
                          {% comment %}
                          //
                          <span class="blog-post-categories">
                            {{ post.category | join: ", " }}
                          </span>
                          {% endcomment %}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                  {% if site.social.blog %}
                    <li class="more-blog-posts">
                      <a href="{{ site.social.blog }}">{{ translate.more_blog_posts[page.lang] }}</a>
                    </li>
                  {% endif %}
                </ul>

              {% endif %}
            </div>
          {%- endif -%}

          {%- assign all_projects = site.data.projects.projects -%}
          {%- assign main_projects = all_projects | where: "type", "main" -%}
          {%- assign oss_projects = all_projects | where: "type", "open_source" -%}
          {%- assign side_projects = all_projects | where: "type", "side_project" -%}

          {% if main_projects and main_projects != empty %}
            <h2 id="projects">{{ translate.projects_and_portfolio[page.lang] }}</h2>
            {%- include pages/projects-list.html projects=main_projects -%}
          {%- endif -%}

          {%- if oss_projects and oss_projects != empty -%}
            <h2>{{ translate.open_source_projects[page.lang] }}</h2>
            {%- include pages/projects-list.html projects=oss_projects -%}
          {%- endif -%}

          {%- if side_projects and side_projects != empty -%}
            <h2>Weitere Projekte</h2>
            {%- include pages/projects-list.html projects=side_projects -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  {% endif %}
</article>
