<article>
  <div class="section section-1">
    <div class="section-border">
      <div class="section-background">
        <img alt="" src="{% link assets/img/BannerImage-Full.jpg %}" width="2500" height="1667" style="display:block;object-position: 83% 20%" fetchpriority="high" loading="eager" decoding="async">
      </div>
    </div>
    <div class="section-content-wrapper">
      <div class="section-content container-fluid row">
        <div class="hero-text col-md-6 col-lg-6">
          <p>{{ left_hero_text }}</p>
        </div>
        <div class="col-md-1 col-lg-1"></div>
        <div class="contact-form col-md-4 col-lg-4">
          <div class="contact-text">
            <p>{{ right_hero_text }}</p>
          </div>
          <div class="contact-button-container">
            <a href="mai&#x006C;to&#x003A;antispam.%63%6F%6E%74%61%63%74REMOVETHISTEXTBEFORESENDING&#64;%74%61%6B%74%67%65%62%65%72&#46;%69%74" class="mai&#x006C;-link contact-button btn btn-warning">{{ contact_now_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if site.data.projects.projects-%}
    <div class="section dark-section section-2">
      <div class="section-content-wrapper">
        <div class="section-content container-fluid row justify-content-around">
          <header>
            <h2>Projekte &amp; Portfolio</h2>
          </header>
          {%- assign icons = site.data.projects.icons -%}
          {%- for project in site.data.projects.projects %}
            <div class="col-lg-4 mb-lg-5 col-md-6 mb-md-3 mb-3">
              <div class="card">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ project.title[page.lang] | default: project.title.all | markdownify | remove: '<p>' | remove: '</p>' }}</h5>
                  <div class="card-text">{{ project.short_description[page.lang] | markdownify }}</div>
                  {%- if project.action -%}
                    <a href="{{ project.action.url }}" class="align-self-start btn btn-primary">
                      {%- if project.action.icon -%}
                        {{- icons[project.action.icon] -}}
                        {{- ' ' -}}
                      {%- endif -%}
                      {{ project.action[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
                    </a>
                  {%- endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</article>
