.site-imprint main,
.site-privacy main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-imprint main,
.site-privacy main,
.site-imprint header
.site-privacy header {
  background-color: white;
}

.header-skip-link {
  background-color: white;
}

.header-skip-link:not(.visually-hidden-focusable) {
  display: none;
}

/** Customization and general page layout */

.custom-navbar-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.custom-navbar-glass {
  background: rgba(255, 255, 255, 0.4);
  xbackground: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.3) 30%,
    rgba(255, 255, 255, 0.3) 70%,
    rgba(255, 255, 255, 0.2) 100%
  );
  dbackground: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.5) 18%,
    rgba(255, 255, 255, 0.6) 33%,
    rgba(255, 255, 255, 0.65) 40%,
    rgba(255, 255, 255, 0.65) 60%,
    rgba(255, 255, 255, 0.6) 67%,
    rgba(255, 255, 255, 0.5) 82%,
    rgba(255, 255, 255, 0.3) 100%
  );
  /*border-radius: 16px;*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.custom-navbar-floating {
  z-index: 10;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*pointer-events: none;*/
}

.navbar.custom-navbar-tall {
  --bs-navbar-padding-x: 2.5vw;
  /*--bs-navbar-padding-y: 3vw;*/
  --bs-navbar-padding-y: 2vw;
  --bs-navbar-brand-padding-y: 0;
}

.navbar-brand {
  --site-title-font-font-size-value: 2;
  font-size: calc((var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem);
  line-height: 1.4em;
  transform: translateY(-0.18em);
}

.navbar-brand .title {
  font-weight: 500;
  text-shadow: 0 0 1px black;
}

.navbar-brand .subtitle {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

main article:first-of-type > .section:first-child {
  --site-title-font-font-size-value: 2;
  --custom-navbar-font-size: calc(
    (var(--site-title-font-font-size-value) - 1) * 1.2vw + 1rem
  );
  --custom-navbar-line-height: calc(var(--custom-navbar-font-size) * 1.4);
  --custom-navbar-padding-y: 3vw;
  --custom-navbar-height: calc(
    var(--custom-navbar-line-height) + 2 * var(--custom-navbar-padding-y)
  );
  padding-top: var(--custom-navbar-height);
}

.section-content-wrapper {
  padding-top: calc(max(20vmax, 378px));
  padding-bottom: 3vw;
  max-width: 100%;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  padding-left: 5vw;
  padding-right: 5vw;
}

.custom-footer-dark {
  padding-top: 1rem;
}

/** Hero Styling */

.hero-text {
  color: white;
  line-height: 1.25;
  line-height: calc(max(1.25em, 1.9rem));
  font-family: serif;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 10px rgba(255, 255, 255, 0.1);

  --custom-hero-base-size: 3rem;
  --custom-hero-reference-device-width: 1084px;
  font-size: calc(
    min(
      var(--custom-hero-base-size),
      var(--custom-hero-base-size) * 100vw /
        var(--custom-hero-reference-device-width)
    )
  );
  /* 3rem = 48px, 48px/1084px ~= 0.0442 */
  font-size: calc(max(1.2rem, min(3rem, 4.4vw)));
}

.contact-text {
  color: white;
  font-family: serif;
}

.contact-button {
  color: white !important;
  padding: 1.2rem 2.004rem;
}

/** Sections **/

.section {
  position: relative;
}

.section-content {
  position: relative;
  z-index: 0;
}

/** Background Image **/

:root {
  --previous-section-divider-offset: 0px;
}

.section-border {
  position: absolute;
  top: calc(-1 * var(--previous-section-divider-offset, 0px));
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.section-background {
  overflow: hidden;
  pointer-events: none;
}

.section-background,
.section-background .section-background-content,
.section-background .section-background-canvas,
.section-background .section-background-overlay {
  position: absolute;
  inset: 0px;
}

.section-background img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/** ::after pseudo element so the shadow appears on top of the <img/> within this element. */
.section-background::after {
  box-shadow: inset 0 -60px 60px -60px black;
  box-shadow: inset 0 -32px 30px -30px black;
  box-shadow: inset 0 -32px 30px -30px black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Footer styling **/
body,
footer,
html {
  background-color: #1f2227;
}
