<div class="language-switcher animated">
  <a {% if page.lang == 'de' %}class="active" rel="canonical" href="{{ page.url }}"{% else %}rel="alternate" href="{% link {{ page.translations.de | default: 'de/index.html' }} %}"{% endif %} hreflang="de" title="Sprache auf Deutsch umschalten">DE</a> |
  <a {% if page.lang == 'en' %}class="active" rel="canonical" href="{{ page.url }}"{% else %}rel="alternate" href="{% link {{ page.translations.en | default: 'en/index.html' }} %}"{% endif %} hreflang="en" title="Switch language to English">EN</a>
</div>
